<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <link rel="stylesheet" type = "text/css" href="/css/style.css">
  <title>CookBook</title>
</head>
<body class="editTop">


<!--form to add a recipe-->
  <form class = "newForm" action="/update/<%=recipeContents.Category%>/<%=recipeContents._id%>/<%=recipeContents.username%>/editTop" method="POST">
<input type="hidden" name='filename' value ="<%=recipeContents.picture%>">
  Recipe Name: 
  <input type="text" value="<%=recipeContents.recipe%>" name="recipe"><br>
   Description:<br>
  <textarea name="description" rows="10"><%= recipeContents.description%></textarea><br>
	Serving Size:
	  <input type="text" value="<%=recipeContents.servingsize%>" name="servingsize">
	Prep Time:
	  <input type="text" value="<%=recipeContents.preptime%>" name="preptime">
	Cook Time:
	  <input type="text" value="<%=recipeContents.cooktime%>" name="cooktime">

  <button class="btn" type="submit" id = "submitRecipe">Submit</button>
</form>

<script src="/js/scripts.js"></script>

</body>
</html>