<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <link rel="stylesheet" type = "text/css" href="/css/style.css">
  <title>CookBook</title>
</head>
<body class="editDirections">


<!--form to add a recipe-->
  <form class = "newForm" action="/update/<%=recipeContents.Category%>/<%=recipeContents._id%>/<%=recipeContents.username%>/editDirections" method="POST">
<input type="hidden" name='filename' value ="<%=recipeContents.picture%>">
  
	Directions: <br>   <button class="btn" type="submit" id = "submitRecipe">Submit</button>
	<div class="edit-directions">
			<button class="btn" id="edit-add-ingredient" type="button">+</button><br>
			<div class ="steps">
		    <% for(var i=0; i<recipeContents.step.length; i++) {%>
    			 <span class="step" id="<%=i+1%>"><%=i+1%> </span><input type="text" value="<%= recipeContents.step[i]%>" name="step" ><br>
 	 		<% } %>
 	 		</div>
  
	</div>
</form>

<script src="/js/scripts.js"></script>

</body>
</html>