<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <link rel="stylesheet" type = "text/css" href="/css/style.css">
  <title>CookBook</title>
</head>
<body class="editrecipe">
<!--               <img class="recipe-header" src="/uploads/<%=recipeContents.picture%>"> -->
	<h1> Editing <%=recipeContents.recipe%></h1>

<!--form to add a recipe-->
  <form class = "newForm" action="/update/<%=recipeContents.Category%>/<%=recipeContents._id%>/<%=recipeContents.username%>/" method="POST">
<input type="hidden" name='filename' value ="<%=recipeContents.picture%>">
  Recipe Name: 
  <input type="text" value="<%=recipeContents.recipe%>" name="recipe"><br>
   Description:<br>
  <textarea name="description" rows="10"><%= recipeContents.description%></textarea><br>
	Serving Size:
	  <input type="text" value="<%=recipeContents.servingsize%>" name="servingsize"><br>
	Prep Time:
	  <input type="text" value="<%=recipeContents.preptime%>" name="preptime"><br>
	Cook Time:
	  <input type="text" value="<%=recipeContents.cooktime%>" name="cooktime"><br>
	<!--previous ingredients-->
	Ingredients: <br>
	<div class="ingredients">
		<button class="btn" type="button" id="add-ingredient">+</button><br>
		<!-- display amount next to ingredient -->
        <% for(var i=0; i<recipeContents.amount.length; i++) {%>
            <% if (recipeContents.amount[i] == "" || recipeContents.amount[i] == '')continue; %>
        	Quantity: <input type="text" value="<%= recipeContents.amount[i]%>" name="amount" required><br>
    		<input type="text" value="<%= recipeContents.ingredient[i]%>" name="ingredient" required><br>
 	 	<% } %>
  
	</div>
	Directions: <br>
	<div class="edit-directions">
			<button class="btn" id="edit-add-ingredient" type="button">+</button><br>
			<div class ="steps">
		    <% for(var i=0; i<recipeContents.step.length; i++) {%>
    			 <span class="step" id="<%=i+1%>"><%=i+1%> </span><input type="text"value="<%= recipeContents.step[i]%>" name="step" ><br>
 	 		<% } %>
 	 		</div>
  
	</div>
  <button class="btn" type="submit" id = "submitRecipe">Submit</button>
</form>

<script src="/js/scripts.js"></script>

</body>
</html>