<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <link rel="stylesheet" type = "text/css" href="/css/style.css">
  <title>CookBook</title>
</head>
<body class="editIngredients">


<!--form to add a recipe-->
  <form class = "newForm" action="/update/<%=recipeContents.Category%>/<%=recipeContents._id%>/<%=recipeContents.username%>/editIngredients" method="POST">
<input type="hidden" name='filename' value ="<%=recipeContents.picture%>">

	<!--previous ingredients-->
	Ingredients: <br>  <button class="btn" type="submit" id = "submitRecipe">Submit</button>
	<div class="ingredients">
		<button class="btn" type="button" id="add-ingredient">+</button><br>
		<!-- display amount next to ingredient -->
        <% for(var i=0; i<recipeContents.ingredient.length; i++) {%>
            <% if (recipeContents.ingredient[i] == "" || recipeContents.ingredient[i] == '')continue; %>
    		<input type="text" value="<%= recipeContents.ingredient[i]%>" name="ingredient" required><br>
 	 	<% } %>
  
	</div>

</form>

<script src="/js/scripts.js"></script>

</body>
</html>