<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <link rel="stylesheet" type = "text/css" href="/css/style.css">
  <title>daily bread</title>
</head>
<body class="editNotes">


<!--form to add a recipe-->
  <form class = "newForm" action="/update/<%=recipeContents.Category%>/<%=recipeContents._id%>/<%=recipeContents.username%>/editNotes" method="POST">
<input type="hidden" name='filename' value ="<%=recipeContents.picture%>">
   Notes:<br>
  <textarea name="notes" rows="15"><%= recipeContents.notes%></textarea><br>
  <button class="btn" type="submit" id = "submitRecipe">Submit</button>
</form>

<script src="/js/scripts.js"></script>

</body>
</html>